@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #020617;
  color: white;
}

@keyframes pulse {
  0%, 100% { transform: scale(1.05); filter: brightness(1.2) drop-shadow(0 0 30px rgba(34,211,238,0.4)); }
  50% { transform: scale(1); filter: brightness(1) drop-shadow(0 0 10px rgba(34,211,238,0.1)); }
}